* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-style {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.iconsConfig {
  font-size: 40px;
  margin-right: 8px;
  color: white;
}

.Myimage {
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  width: 65%;
}

.Myimage p {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Times,
    serif, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.wrapper {
  background-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
