* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav-style {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.iconsConfig {
  font-size: 40px;
  margin-right: 8px;
  color: white;
  overflow-y: hidden;
}

.Myimage {
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  width: 65%;
}

.Myimage p {
  font-size: 30px;
  font-family: monospace;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.wrapper {
  background-color: black;
}

.fixtoleft {
  width: 50%;
  margin-top: 100px;
}

.fixtoright {
  position: relative;
  bottom: 320px;
  left: 230px;
  font-size: 75px;
  font-family: monospace;
}

.letter1 {
  color: green;
}

.alignlogo {
  text-align: center;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
